//gitlab.fitomax.net/api/v4/projects/38/packages/npm/:_authToken=LZjZnsCZXk8jjS3Uex3Y
//gitlab.fitomax.net/api/v4/packages/npm/:_authToken=LZjZnsCZXk8jjS3Uex3Y
@pointprism:registry=//gitlab.fitomax.net/api/v4/projects/38/packages/npm/

